body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:whitesmoke;
    text-align: center;
}
table, th, td {
    text-align: center;
    border: 1px solid black;
    color: whitesmoke;
    background: #FF6633;
    font-size: 15px;
    font-family: Lato, serif;
    padding: 20px; }

table.center {
    margin-left:auto;
    margin-right:auto;
}




p {
    padding: 10px;
}


#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    text-align: center;
    float: left;
    height: 75px;
    width: 1000px;
    background: #FF6633;
}

#navigation {
    text-align: center;
    float: left;
    height: 60px;
    width: 1000px;
    background: #FFCC33;
}

#content {
    text-align: center;
    float: left;
    background: #F5FFFF;
    width: 1000px;
}

#footer {
    text-align: center;
    height: 40px;
    width: 1000px;
    background: #FFFDED;
    clear: both;
}


