<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${Book}">
        <td><span th:text="${book.getTitle()}"> Title </span></td>
        <td><span th:text="${book.getAuthor()}"> Author </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>