<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <link th:href="style.css" rel="stylesheet"/>

</head>
<body>
<table class = center>
    <thead>
    <tr>
        <th> id </th>
        <th> Isbn </th>
        <th> Title </th>
        <th> Author </th>
        <th> Price </th>
        <th> Picture </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="4"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.getId()}"> id </span></td>
        <td><span th:text="${book.getIsbn()}"> Isbn </span></td>
        <td><span th:text="${book.getTitle()}"> Title </span></td>
        <td><span th:text="${book.getAuthor()}"> Author </span></td>
        <td><span th:text="${book.getPrice()}"> Price </span></td>
        <td><span th:text="${book.getPicture()}"> Picture </span></td>
        <td><span> xmlns:th="${http://www.thymeleaf.org " </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>

