<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> Nie ma książek </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.id}"> Id </span></td>
        <td><span th:text="${book.title}"> Tytuł </span></td>
        <td><span th:text="${book.author}"> Autor </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>