<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Ksiegarnia</title>
    <link rel="stylesheet" href="style.css"/>

</head>
<body>
<div id="wrapper">
    <div id="headerwrap">w
        <div id="header">
            <p>Witajcie w najlepszej ksiegarni na świecie</p>
        </div>
    </div>
    <div id="navigationwrap">
        <div id="navigation">
            <p>
                <a href="https://projekt-koncowy-bookstore.herokuapp.com/books">KSIĄŻKI</a></p>
        </div>
    </div>
</div>
</body>
</html>
